<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/commons::head}">
      </head>
<body class="add-robot">
    <nav th:replace="~{fragments/commons::nav}">
      </nav>
      <h1>Създай робот</h1>
      <form class="w-25 m-auto" th:method="post" th:action="@{/robots/add}"
      th:object="${robotAddDto}">
        <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Име на робота</label>
          <input type="text" class="form-control" th:field="*{name}" id="exampleInputName1">
        </div>
        <div class="mb-3">
          <label for="color" class="form-label">Цвят</label>
          <select th:field="*{color}" class="form-select" aria-label="Default select example" id="color">
            <option selected value=" ">Избери цвят</option>
            <option th:each="c : ${T(com.example.roboworld.model.entity.enums.Color).values()}" th:value="${c}" th:text="${c}">One</option>

          </select>
        </div>
        <div class="mb-3">
            <label for="purpose" class="form-label">Предназначение</label>
            <select th:field="*{purpose}" class="form-select" aria-label="Default select example" id="purpose">
                <option selected value=" ">Избери предназначение</option>
                <option th:each="p : ${T(com.example.roboworld.model.entity.enums.Purpose).values()}" th:value="${p}"
                th:text="${p}">One</option>

              </select>
          </div>
          <div class="mb-3">
            <label for="speaking" class="form-label">Говорене</label>
            <select class="form-select" th:field="*{speaking}" aria-label="Default select example" id="speaking">
                <option selected value=" ">Избери дали да говори</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
          </div>

          <div class="mb-3">
              <label for="summary" class="form-label">Описание</label>
              <textarea class="form-control" id="summary" name="summary" rows="5" th:field="*{description}"></textarea>
          </div>
        <button type="submit" class="btn btn-primary btn-lg">Създай</button>
      </form>
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
</body>
</html>