<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/commons::head}">
  </head>
  <body class="components">
    <nav th:replace="~{fragments/commons::nav}">

    </nav>
    <h1>Компоненти</h1>
    <section class="components-info">
      <ul class="components-list">
        <li class="energy">
          <a href=""
            >Източник на енергия <i class="fa-solid fa-arrow-down"></i
          ></a>
          <p>
            Най-много се използват (оловно-киселинни) акумулатори като източник
            на енергия. Различни видове батерии могат да послужат като източник
            на енергия за роботите. Оловно-киселинните батерии са безопасни и
            имат сравнително дълъг живот, но са твърде тежки в сравнение със
            сребърно-кадмиевите батерии, които са по-малки на обем, но
            по-скъпи.Потенциални източници на енергия могат да бъдат:
          </p>
          <ul>
            <li>Пневматичен (сгъстени газове)</li>
            <li>
              Слънчева енергия (използването на слънчевата енергия и
              превръщането ѝ в електрическа)
            </li>
            <li>Хидравлика (течности)</li>
            <li>Махово колело за съхранение на енергия</li>
            <li>Органичен боклук (чрез анаеробно разграждане)</li>
            <li>Ядрен</li>
          </ul>
        </li>
        <li class="devices">
          <a href=""
            >Задвижващо устройство <i class="fa-solid fa-arrow-down"></i
          ></a>

          <ul>
            <li>
              Електрически мотори
              <p>
                По-голямата част от роботите използват електрически двигатели,
                колекторни и безколекторни постояннотокови електрически мотори в
                преносими роботи.
              </p>
            </li>
            <li>
              Линейни задвижващи устройства
              <p>
                Те биват различни типове устройства, които се задвижват напред и
                назад, а не в кръг, и по-бързо могат да сменят посоката, особено
                когато е необходима голяма сила, както е при индустриалните
                роботи.
              </p>
            </li>
            <li>
              Поредица еластични задвижващи устройства
              <p>
                Една пружина може да бъде част от моторното задвижващо
                устройство, като позволява да се подобри контрола на силата.
              </p>
            </li>
            <li>
              Въздушни мускули
              <p>
                Пневматичните изкуствени мускули, наречени още въздушни мускули,
                са специални тръби, които се разширяват (обикновено до 40%)
                когато въздуха преминава в тях.
              </p>
            </li>
            <li>
              Мускулен кабел
              <p>
                Мускулният кабел, наречен още запомняща форми сплав, Nitinol®
                или Flexinol® кабел, е материал, който се скъсява (до 5%),
                когато се приложи електричество.
              </p>
            </li>
            <li>
              Електроактивни полимери
              <p>
                Електроактивните полимери (EAP) или изкуствени мускули (EPAM) са
                нови пластични материали, които имат способността да се
                контрахират значително много (до 380% активно обтягане) от
                електричество.
              </p>
            </li>
            <li>
              Пиезоелектрически мотор
              <p>
                Те работят на много по-различен принцип, посредством малки
                пиезокерамични елементи, които вибрират много хиляди пъти в
                секунда, предизвиквайки линейно или ротационно движение.
              </p>
            </li>
            <li>
              Еластични нанотръби
              <p>
                Липсата на дефекти във въглеродните нанотръби позволява на
                нишките да се деформират еластично с няколко процента, с нива на
                съхранение на енергия от около 10J/cm3.
              </p>
            </li>
          </ul>
        </li>
        <li class="sensibility">
          <a href="">Сетивност <i class="fa-solid fa-arrow-down"></i></a>

          <ul>
            <li>
              Допир
              <p>
                Скорошно проучване разви тактилен сензорен масив, който имитира
                механичните особености и рецепторите за допир на човешките
                пръсти. Сензорният масив е конструиран с устойчива сърцевина,
                заобиколена от проводима течност, обхваната от еластомерна кожа.
                Когато изкуствената кожа докосне даден обект, флуидното поле
                около електродите се деформира, като по този начин предизвиква
                промени в съпротивлението, които определят силите получени от
                обекта.
              </p>
            </li>
            <li>
              Зрение
              <p>
                Компютърните зрителни системи разчитат снимковите сензори, като
                прихващат електромагнитна радиация, която е типична за видимата
                светлина или за ултравиолетовата светлина. Сензорите са
                проектирани да ползват физиката на твърдото тяло. Процесът, при
                който светлината преминава и се отразява от повърхностите, става
                чрез оптика.
              </p>
            </li>
          </ul>
        </li>
        <li class="manipulation">
          <a href="">Манипулиране <i class="fa-solid fa-arrow-down"></i></a>
          <ul>
            <li>
              Механични устройства за захващане
              <p>
                Едно от най-често срещаните крайни изпълнителни устройства е
                хващачът. В най-простата си форма той представлява само два
                пръста, които се приближават и отдалечават един от друг, така че
                да хващат и пускат малки обекти.
              </p>
            </li>
            <li>
              Вакуумиращи устройства за захващане
              <p>
                Вакуумиращите устройства за захващане са много прости, но могат
                да издържат много големи товари, при условие че повърхността, за
                която се захващат, е достатъчно гладка.
              </p>
            </li>
            <li>
              Крайни изпълнителни устройства с общо предназначение
              <p>
                Някои от по-сложните роботи вече използват човекоподобни ръце,
                например Shadow Hand, MANUS и Schunk. Те са много ловки
                манипулатори и имат стотици сензори.
              </p>
            </li>
          </ul>
        </li>
        <li class="movements">
          <a href="">Придвижване <i class="fa-solid fa-arrow-down"></i></a>
          <ul>
            <li>
              Роботи на колела
              <p>
                За улеснение повечето подвижни роботи имат четири колела или
                няколко непрекъснати релси.
              </p>
            </li>
            <li>
              Балансиращи роботи на две колела
              <p>
                Има голямо разнообразие от балансиращи роботи, но обикновено
                използват жироскоп, с помощта на който определят с колко и в
                каква посока се накланя роботът
              </p>
            </li>
            <li>
              Балансиращи роботи на едно колело
              <p>
                Разликата между балансиращите роботи на две колела и тези на
                едно е, че последните използват кръгло кълбо, за да се
                придвижват.
              </p>
            </li>
            <li>
              Сферични кълба
              <p>
                Някои роботи имат сферична форма и се придвижват, като въртят
                тежест вътре в кълбото или като въртят външните си обвивки.
              </p>
            </li>
            <li>
              Роботи на шест колела
              <p>
                Такива роботи осигуряват по-голяма стабилност и се използват на
                открити терени, като тревисти и скални повърхности.
              </p>
            </li>
            <li>
              Верижни роботи
              <p>
                Танковите вериги осигуряват още по-голяма стабилност и затова
                много често се ползват за военни цели.
              </p>
            </li>
            <li>
              Ходещи роботи
              <p>
                Правят се много опити да се създаде робот, който да ходи на два
                крака стабилно, но никой не може да го направи толкова умело,
                колкото хората.
              </p>
            </li>
            <li>
              ZMP техника
              <p>
                Бордовият компютър на робота се стреми да балансира инерционните
                сили (комбинацията от земната гравитация и ускорението или
                забавянето) със силата на реакцията на долната повърхност.
              </p>
            </li>
            <li>
              Подскачане
              <p>
                През 1980 г. Марк Рейбърт от Масачузетския технологичен институт
                създава няколко робота, в които успешно демонстрира много
                динамично ходене.
              </p>
            </li>
            <li>
              Динамично балансиране (контролирано падане)
              <p>
                Той се счита за по-добър от ZMP техниката, защото постоянно
                отчита движението на робота и поставя ходилата в съответната
                позиция, така че да запази баланс.
              </p>
            </li>
            <li>
              Пасивна динамика
              <p>
                При този подход се използва инерцията на крайниците при
                движението им, за да се постигне по-голяма ефективност.
              </p>
            </li>
          </ul>
        </li>
        <li class="other-movements">
          <a href=""
            >Други методи за придвижване <i class="fa-solid fa-arrow-down"></i
          ></a>
          <ul>
            <li>
              Летене
              <p>
                Модерните пътнически самолети всъщност са летящи роботи,
                управлявани от двама души.
              </p>
            </li>
            <li>
              Пълзене
              <p>
                Някои роботи се придвижват като змиите. По този начин те могат
                да преминават през много тесни участъци.
              </p>
            </li>
            <li>
              На кънки
              <p>
                Има роботи, които се придвижват и на кънки. Такъв робот е Plen,
                който използва миниатюрен скейтборд или ролкови кънки.
              </p>
            </li>
            <li>
              Катерене
              <p>
                Един от подходите имитира човешки движения, коригирайки центъра
                на тежестта и придвижвайки крайниците един след друг.
              </p>
            </li>
          </ul>
        </li>
        <li class="interaction-environment">
          <a href=""
            >Взаимодействие и навигация с околната среда
            <i class="fa-solid fa-arrow-down"></i
          ></a>
          <p>
            Въпреки че значителен процент от роботи днес са или контролирани от
            хора, или работят в статична среда, има повишаване на интереса в
            роботи, които могат да се управляват автономно в динамична среда.
            Тези роботи изискват някои комбинации от навигационен хардуер и
            софтуер с цел да преодолеят тяхната среда.
          </p>
        </li>
        <li class="human-environment">
          <a href=""
            >Човешко-роботско взаимодействие
            <i class="fa-solid fa-arrow-down"></i
          ></a>
          <ul>
            <li>
              Разпознаване на говор
              <p>
                Тълкуване на непрекъснатия поток от звуци идващи от човек в
                реално време е трудна задача за компютъра, главно заради
                голямата променливост на речта.
              </p>
            </li>
            <li>
              Роботизиран глас
              <p>
                Други препятствия съществуват, когато се позволи на робота да
                използва глас за взаимодействие с хората.
              </p>
            </li>
            <li>
              Жестове
              <p></p>
            </li>
            Човек може да си представи в бъдеще да обяснява на робот-готвач как
            да сготви сладкиши или да бъде упътен за посоката от робот-полицай.
            <li>
              Лицеви изражения
              <p>
                Лицевите изражения могат да предоставят бърза обратна връзка
                върху диалога между двама души и скоро може да се случи същото и
                за хората и роботите.
              </p>
            </li>
            <li>
              Изкуствени емоции
              <p>
                Изкуствените емоции могат да бъдат генерирани, съставен от
                поредица от лицеви изражения и/или жестове.
              </p>
            </li>
            <li>
              Индивидуалност
              <p>
                Много от роботите в научната фантастика имат индивидуалност –
                нещо, което може да е или да не е желано при комерсиалните
                роботи на бъдещето.
              </p>
            </li>
            <li>
              Социален интелект
              <p>
                Целта на проектите е социален робот, който след човешка
                демонстрация се научава да изпълнява задачи, без да има предишни
                познания на концепции от високо ниво.
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <footer th:replace="~{fragments/commons::footer}">
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
