<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/commons::head}">
  </head>
  <body class="components">
    <nav th:replace="~{fragments/commons::nav}">

    </nav>
    <h1 th:text="#{components.h1}">Компоненти</h1>
    <section class="components-info">
      <ul class="components-list">
        <li class="energy">
          <a th:text="#{components.energySource}" href=""
            >Източник на енергия </a><i class="fa-solid fa-arrow-down"></i
        >
          <p th:text="#{components.energyP}">
            Най-много се използват (оловно-киселинни) акумулатори като източник
            на енергия. Различни видове батерии могат да послужат като източник
            на енергия за роботите. Оловно-киселинните батерии са безопасни и
            имат сравнително дълъг живот, но са твърде тежки в сравнение със
            сребърно-кадмиевите батерии, които са по-малки на обем, но
            по-скъпи.Потенциални източници на енергия могат да бъдат:
          </p>
          <ul>
            <li th:text="#{components.energyLi1}">Пневматичен (сгъстени газове)</li>
            <li th:text="#{components.energyLi2}">
              Слънчева енергия (използването на слънчевата енергия и
              превръщането ѝ в електрическа)
            </li>
            <li th:text="#{components.energyLi3}">Хидравлика (течности)</li>
            <li th:text="#{components.energyLi4}">Махово колело за съхранение на енергия</li>
            <li th:text="#{components.energyLi5}">Органичен боклук (чрез анаеробно разграждане)</li>
            <li th:text="#{components.energyLi6}">Ядрен</li>
          </ul>
        </li>
        <li class="devices">
          <a th:text="#{components.driveDevice}" href=""
            >Задвижващо устройство </a><i class="fa-solid fa-arrow-down"></i
        >

          <ul>
            <li >
              <span th:text="#{components.deviceLi1}">Електрически мотори</span>

              <p th:text="#{components.deviceP1}">
                По-голямата част от роботите използват електрически двигатели,
                колекторни и безколекторни постояннотокови електрически мотори в
                преносими роботи.
              </p>
            </li>
            <li>
              <span th:text="#{components.actuatorsLi2}"> Линейни задвижващи устройства</span>

              <p th:text="#{components.actuatorsP2}">
                Те биват различни типове устройства, които се задвижват напред и
                назад, а не в кръг, и по-бързо могат да сменят посоката, особено
                когато е необходима голяма сила, както е при индустриалните
                роботи.
              </p>
            </li>
            <li>
              <span th:text="#{components.elasticActuatorsLi3}">Поредица еластични задвижващи устройства</span>

              <p th:text="#{components.elasticActuatorsP3}">
                Една пружина може да бъде част от моторното задвижващо
                устройство, като позволява да се подобри контрола на силата.
              </p>
            </li>
            <li>
              <span th:text="#{components.musclesLi4}">Въздушни мускули</span>

              <p th:text="#{components.musclesP4}">
                Пневматичните изкуствени мускули, наречени още въздушни мускули,
                са специални тръби, които се разширяват (обикновено до 40%)
                когато въздуха преминава в тях.
              </p>
            </li>
            <li>
              <span th:text="#{components.muscleCableLi5}"></span>
              Мускулен кабел
              <p th:text="#{components.muscleCableP5}">
                Мускулният кабел, наречен още запомняща форми сплав, Nitinol®
                или Flexinol® кабел, е материал, който се скъсява (до 5%),
                когато се приложи електричество.
              </p>
            </li>
            <li>
              <span th:text="#{components.polymersLi6}">Електроактивни полимери</span>

              <p th:text="#{components.polymersP6}">
                Електроактивните полимери (EAP) или изкуствени мускули (EPAM) са
                нови пластични материали, които имат способността да се
                контрахират значително много (до 380% активно обтягане) от
                електричество.
              </p>
            </li>
            <li>
              <span th:text="#{components.motorLi7}">Пиезоелектрически мотор</span>

              <p th:text="#{components.motorP7}">
                Те работят на много по-различен принцип, посредством малки
                пиезокерамични елементи, които вибрират много хиляди пъти в
                секунда, предизвиквайки линейно или ротационно движение.
              </p>
            </li>
            <li>
              <span th:text="#{components.nanotubesLi8}">Еластични нанотръби</span>

              <p th:text="#{components.nanotubesP8}">
                Липсата на дефекти във въглеродните нанотръби позволява на
                нишките да се деформират еластично с няколко процента, с нива на
                съхранение на енергия от около 10J/cm3.
              </p>
            </li>
          </ul>
        </li>
        <li class="sensibility">
          <a href="" th:text="#{components.sensibility}">Сетивност</a> <i class="fa-solid fa-arrow-down"></i>

          <ul>
            <li>
              <span th:text="#{components.touchLi1}">Допир</span>

              <p th:text="#{components.touchP1}">
                Скорошно проучване разви тактилен сензорен масив, който имитира
                механичните особености и рецепторите за допир на човешките
                пръсти. Сензорният масив е конструиран с устойчива сърцевина,
                заобиколена от проводима течност, обхваната от еластомерна кожа.
                Когато изкуствената кожа докосне даден обект, флуидното поле
                около електродите се деформира, като по този начин предизвиква
                промени в съпротивлението, които определят силите получени от
                обекта.
              </p>
            </li>
            <li>
              <span th:text="#{components.visionLi2}">Зрение</span>

              <p th:text="#{components.visionP2}">
                Компютърните зрителни системи разчитат снимковите сензори, като
                прихващат електромагнитна радиация, която е типична за видимата
                светлина или за ултравиолетовата светлина. Сензорите са
                проектирани да ползват физиката на твърдото тяло. Процесът, при
                който светлината преминава и се отразява от повърхностите, става
                чрез оптика.
              </p>
            </li>
          </ul>
        </li>
        <li class="manipulation">
          <a th:text="#{components.manipulation}" href="">Манипулиране </a><i class="fa-solid fa-arrow-down"></i>
          <ul>
            <li>
              <span th:text="#{components.grippingDevicesLi1}">Механични устройства за захващане</span>

              <p th:text="#{components.grippingDevicesP1}">
                Едно от най-често срещаните крайни изпълнителни устройства е
                хващачът. В най-простата си форма той представлява само два
                пръста, които се приближават и отдалечават един от друг, така че
                да хващат и пускат малки обекти.
              </p>
            </li>
            <li>
              <span th:text="#{components.vacuumLi2}">Вакуумиращи устройства за захващане</span>

              <p th:text="#{components.vacuumP2}">
                Вакуумиращите устройства за захващане са много прости, но могат
                да издържат много големи товари, при условие че повърхността, за
                която се захващат, е достатъчно гладка.
              </p>
            </li>
            <li>
              <span th:text="#{components.devicesLi3}">Крайни изпълнителни устройства с общо предназначение</span>

              <p th:text="#{components.devicesP3}">
                Някои от по-сложните роботи вече използват човекоподобни ръце,
                например Shadow Hand, MANUS и Schunk. Те са много ловки
                манипулатори и имат стотици сензори.
              </p>
            </li>
          </ul>
        </li>
        <li class="movements">
          <a th:text="#{components.movement}" href="">Придвижване</a> <i class="fa-solid fa-arrow-down"></i>
          <ul>
            <li>
              <span th:text="#{components.wheelsLi1}">Роботи на колела</span>

              <p th:text="#{components.wheelsP1}">
                За улеснение повечето подвижни роботи имат четири колела или
                няколко непрекъснати релси.
              </p>
            </li>
            <li>
              <span th:text="#{components.balanceLi2}">Балансиращи роботи на две колела</span>

              <p th:text="#{components.balanceP2}">
                Има голямо разнообразие от балансиращи роботи, но обикновено
                използват жироскоп, с помощта на който определят с колко и в
                каква посока се накланя роботът
              </p>
            </li>
            <li>
              <span th:text="#{components.balanceLi3}">Балансиращи роботи на едно колело</span>

              <p th:text="#{components.balanceP3}">
                Разликата между балансиращите роботи на две колела и тези на
                едно е, че последните използват кръгло кълбо, за да се
                придвижват.
              </p>
            </li>
            <li >
              <span> th:text="#{components.ballsLi4}"Сферични кълба</span>

              <p th:text="#{components.ballsP4}">
                Някои роботи имат сферична форма и се придвижват, като въртят
                тежест вътре в кълбото или като въртят външните си обвивки.
              </p>
            </li>
            <li>
              <span th:text="#{components.sixWheelsLi5}">Роботи на шест колела</span>

              <p th:text="#{components.sixWheelsP5}">
                Такива роботи осигуряват по-голяма стабилност и се използват на
                открити терени, като тревисти и скални повърхности.
              </p>
            </li>
            <li>
              <span th:text="#{components.chainLi6}">Верижни роботи</span>

              <p th:text="#{components.chainP6}">
                Танковите вериги осигуряват още по-голяма стабилност и затова
                много често се ползват за военни цели.
              </p>
            </li>
            <li>
              <span th:text="#{components.walkingLi7}">Ходещи роботи</span>

              <p th:text="#{components.walkingP7}">
                Правят се много опити да се създаде робот, който да ходи на два
                крака стабилно, но никой не може да го направи толкова умело,
                колкото хората.
              </p>
            </li>
            <li>
              <span th:text="#{components.zmpLi8}">ZMP техника</span>

              <p th:text="#{components.zmpP8}">
                Бордовият компютър на робота се стреми да балансира инерционните
                сили (комбинацията от земната гравитация и ускорението или
                забавянето) със силата на реакцията на долната повърхност.
              </p>
            </li>
            <li>
              <span th:text="#{components.bouncingLi9}">Подскачане</span>

              <p th:text="#{components.bouncingP9}">
                През 1980 г. Марк Рейбърт от Масачузетския технологичен институт
                създава няколко робота, в които успешно демонстрира много
                динамично ходене.
              </p>
            </li>
            <li>
              <span th:text="#{components.balanceLi10}">Динамично балансиране (контролирано падане)</span>

              <p th:text="#{components.balanceP10}">
                Той се счита за по-добър от ZMP техниката, защото постоянно
                отчита движението на робота и поставя ходилата в съответната
                позиция, така че да запази баланс.
              </p>
            </li>
            <li>
              <span th:text="#{components.dynamicsLi11}">Пасивна динамика</span>

              <p th:text="#{components.dynamicsP11}">
                При този подход се използва инерцията на крайниците при
                движението им, за да се постигне по-голяма ефективност.
              </p>
            </li>
          </ul>
        </li>
        <li class="other-movements">
          <a th:text="#{components.otherMovements}" href=""
            >Други методи за придвижване</a> <i class="fa-solid fa-arrow-down"></i
        >
          <ul>
            <li>
              <span th:text="#{components.flyingLi1}">Летене</span>

              <p th:text="#{components.flyingP1}">
                Модерните пътнически самолети всъщност са летящи роботи,
                управлявани от двама души.
              </p>
            </li>
            <li>
              <span th:text="#{components.crawlingLi2}">Пълзене</span>

              <p th:text="#{components.crawlingP2}">
                Някои роботи се придвижват като змиите. По този начин те могат
                да преминават през много тесни участъци.
              </p>
            </li>
            <li>
              <span th:text="#{components.skatesLi3}">На кънки</span>

              <p th:text="#{components.skatesP3}">
                Има роботи, които се придвижват и на кънки. Такъв робот е Plen,
                който използва миниатюрен скейтборд или ролкови кънки.
              </p>
            </li>
            <li>
              <span th:text="#{components.climbingLi4}">Катерене</span>

              <p th:text="#{components.climbingP4}">
                Един от подходите имитира човешки движения, коригирайки центъра
                на тежестта и придвижвайки крайниците един след друг.
              </p>
            </li>
          </ul>
        </li>
        <li class="interaction-environment">
          <a th:text="#{components.environment}" href=""
            >Взаимодействие и навигация с околната среда
           </a> <i class="fa-solid fa-arrow-down"></i
        >
          <p th:text="#{components.environmentP}">
            Въпреки че значителен процент от роботи днес са или контролирани от
            хора, или работят в статична среда, има повишаване на интереса в
            роботи, които могат да се управляват автономно в динамична среда.
            Тези роботи изискват някои комбинации от навигационен хардуер и
            софтуер с цел да преодолеят тяхната среда.
          </p>
        </li>
        <li class="human-environment">
          <a th:text="#{components.humanEnvironment}" href=""
            >Човешко-роботско взаимодействие
            </a><i class="fa-solid fa-arrow-down"></i
        >
          <ul>
            <li>
              <span th:text="#{components.speechLi1}">Разпознаване на говор</span>

              <p th:text="#{components.speechP1}">
                Тълкуване на непрекъснатия поток от звуци идващи от човек в
                реално време е трудна задача за компютъра, главно заради
                голямата променливост на речта.
              </p>
            </li>
            <li>
              <span th:text="#{components.voiceLi2}">Роботизиран глас</span>

              <p th:text="#{components.voiceP2}">
                Други препятствия съществуват, когато се позволи на робота да
                използва глас за взаимодействие с хората.
              </p>
            </li>
            <li>
              <span th:text="#{components.gesturesLi3}">Жестове</span>

              <p th:text="#{components.gesturesP3}">Човек може да си представи в бъдеще да обяснява на робот-готвач как
                да сготви сладкиши или да бъде упътен за посоката от робот-полицай.</p>
            </li>

            <li>
              <span th:text="#{components.expressionsLi4}">Лицеви изражения</span>

              <p th:text="#{components.expressionP4}">
                Лицевите изражения могат да предоставят бърза обратна връзка
                върху диалога между двама души и скоро може да се случи същото и
                за хората и роботите.
              </p>
            </li>
            <li>
              <span th:text="#{components.emotionsLi5}">Изкуствени емоции</span>

              <p th:text="#{components.emotionsP5}">
                Изкуствените емоции могат да бъдат генерирани, съставен от
                поредица от лицеви изражения и/или жестове.
              </p>
            </li>
            <li>
              <span th:text="#{components.individualityLi6}">Индивидуалност</span>

              <p th:text="#{components.individualityP6}">
                Много от роботите в научната фантастика имат индивидуалност –
                нещо, което може да е или да не е желано при комерсиалните
                роботи на бъдещето.
              </p>
            </li>
            <li>
              <span th:text="#{components.intelligenceLi7}">Социален интелект</span>

              <p th:text="#{components.intelligenceP7}">
                Целта на проектите е социален робот, който след човешка
                демонстрация се научава да изпълнява задачи, без да има предишни
                познания на концепции от високо ниво.
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <footer th:replace="~{fragments/commons::footer}">
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
