<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body class="courses-details">
<nav th:replace="~{fragments/commons::nav}"></nav>
<section class="courses-details-info">
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nesciunt sed maiores iure, odit nam repellat beatae dolorum,
        consequatur sequi quibusdam sunt molestiae ab recusandae
        voluptatibus similique?</p>
</section>
<section class="lectures-section">
    <article>
        <button id="lecture-btn">Lecture Title</button>
        <div class="lecture-description">
            <p>Lecturer: Name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt sed maiores iure, odit nam repellat beatae dolorum,
                consequatur sequi quibusdam sunt</p>
        </div>
    </article>
    <article>
        <button class="lecture-btn">Lecture Title</button>
        <div class="lecture-description">
            <p>Lecturer: Name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt sed maiores iure, odit nam repellat beatae dolorum,
                consequatur sequi quibusdam sunt</p>
        </div>
    </article>
    <article>
        <button class="lecture-btn">Lecture Title</button>
        <div class="lecture-description">
            <p>Lecturer: Name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt sed maiores iure, odit nam repellat beatae dolorum,
                consequatur sequi quibusdam sunt</p>
        </div>
    </article>
    <article>
        <button class="lecture-btn">Lecture Title</button>
        <div class="lecture-description">
            <p>Lecturer: Name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt sed maiores iure, odit nam repellat beatae dolorum,
                consequatur sequi quibusdam sunt</p>
        </div>
    </article>
    <article>
        <button class="lecture-btn">Lecture Title</button>
        <div class="lecture-description">
            <p>Lecturer: Name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt sed maiores iure, odit nam repellat beatae dolorum,
                consequatur sequi quibusdam sunt</p>
        </div>
    </article>
    <article>
        <button class="lecture-btn">Lecture Title</button>
        <div class="lecture-description">
            <p>Lecturer: Name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt sed maiores iure, odit nam repellat beatae dolorum,
                consequatur sequi quibusdam sunt</p>
        </div>
    </article>
    <article>
        <button class="lecture-btn">Lecture Title</button>
        <div class="lecture-description">
            <p>Lecturer: Name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt sed maiores iure, odit nam repellat beatae dolorum,
                consequatur sequi quibusdam sunt</p>
        </div>
    </article>

</section>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>